@import url(./__avatar/profile__avatar.css);
@import url(./__center-content/profile__center-content.css);

@import url(./__rectangle-small/profile__rectangle-small.css);
@import url(./__subtitle-text/profile__sutitle-text.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__pic/profile__pic.css);
@import url(./__text-top/profile__text-top.css);

@import url(./__title-text/profile__title-text.css);


@import url(./__plus-sign/profile__plus-sign.css);




.profile {
  display: flex;
  justify-content: space-between;
  max-width: 882px;
  
  margin-top: 40px;
}

/* .profile {
  display: grid;
  grid-template-columns:  120px 1fr 1fr;
  grid-gap: 24px;
  align-items: center;
  width: 882px;
} */

@media screen and (max-width: 425px) {
  .profile {
    flex-direction: column;
    margin-top: 38.25px auto 0;
    
  }
}